<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.nit.controller.RegistrationController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.nit.controller.LogoutAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DBConnectionServlet</servlet-name>
    <servlet-class>com.nit.controller.DBConnectionServlet</servlet-class>
     <init-param>
    <param-name>config</param-name>
    <param-value>/WEB-INF/config/system.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.nit.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BaseStationRegister</servlet-name>
    <servlet-class>com.nit.controller.BaseStationRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BikeRegister</servlet-name>
    <servlet-class>com.nit.controller.BikeRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchBaseStation</servlet-name>
    <servlet-class>com.nit.controller.SearchBaseStation</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterBS</servlet-name>
    <servlet-class>com.nit.controller.RegisterBS</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>com.nit.controller.CheckOut</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckIn</servlet-name>
    <servlet-class>com.nit.controller.CheckIn</servlet-class>
  </servlet>






  
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/LogoutAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DBConnectionServlet</servlet-name>
    <url-pattern>/DBConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaseStationRegister</servlet-name>
    <url-pattern>/BaseStationRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BikeRegister</servlet-name>
    <url-pattern>/BikeRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBaseStation</servlet-name>
    <url-pattern>/SearchBaseStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterBS</servlet-name>
    <url-pattern>/RegisterBS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckIn</servlet-name>
    <url-pattern>/CheckIn</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
